# Configuración general
FRONTEND_URL=http://localhost:5173

# API externa para explicaciones con IA
GROQ_API_KEY=tu_clave_de_groq

# Seguridad JWT
SECRET_KEY=cambia_esta_clave_por_una_muy_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Base de datos MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=tu_password
MYSQL_DATABASE=aquinielator_db