fastapi
uvicorn[standard]
httpx
pydantic
python-dotenv
scikit-learn
pandas
joblib
groq

sqlalchemy
pymysql

passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator

pytest